@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background: #FDE3A7; /* CAPE HONEY */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::selection {
    background: #1BBC9B; /* MOUNTAIN MEADOW */
    color: #fff;
}

h4 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
    margin: 10px 0;
}

.color1 {
    color: #1BBC9B; /* MOUNTAIN MEADOW */
}

.color2 {
    color: #C0392B; /* TALL POPPY */
}

.card {
    color: #013243; /* SHERPA BLUE */
    position: relative;
    width: 350px;
    max-width: 90%;
    padding: 20px;
    background: #e0e1dc;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform 0.8s, box-shadow 0.8s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.card .imgBox {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.card:hover .imgBox img {
    transform: scale(1.1);
}

.card .details {
    position: relative;
    text-align: left;
}

.card .details h4 {
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
}

.card .details p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 400;
}

.text-right {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: #555;
    font-weight: 400;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 300px;
    }

    .card .details p {
        font-size: 14px;
    }

    .card .details h4 {
        font-size: 24px;
    }
}
